body {
    margin: 0;
    font-family: Arial, sans-serif; 
    box-sizing: border-box;
}

.wrapper {
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #ffcc99;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; 
}

.banner img {
    width: 100%; 
    max-height: 400px;
    object-fit: cover;
    display: block;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffa500;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #cc5800;
}

main {
    text-align: center;
}

.about-library {
    background-color: #ffcc99;
    padding: 20px 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.about-library h2 {
    font-size: 30px;
    color: #cc5800;
    margin-bottom: 20px;
}

.about-library p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0 auto;
    max-width: 800px;
}

/* Tabele */
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

table th {
    background-color: #cc5800;
    color: white;
}

/* Linki */
a {
    color: #cc5800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Stopka */
footer {
    background-color: #ffcc99;
    color: #cc5800;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .about-library p {
        font-size: 18px; 
    }

    .banner img {
        max-height: 300px; 
    }
}
