<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>
<header>
    <nav class="navigation wrapper">
        <img src="/assets/logo.png" alt="logo biblioteki" width="230">
        <ul>
            <li><a class="active" href="/">Strona główna</a></li>
            <li><a href="/books">Książki</a></li>
            <li><a href="/loans">Moje wypożyczenia</a></li>
            <li><a href="/profile">Profil</a></li>
            <li><a href="/login">Logowanie</a></li>
        </ul>
    </nav>
</header>