<%- include('../../partials/header.ejs', { activePage: 'readers' }) %>
<main>
    <script src="/js/validationReader.js"></script>
    <h2>Dodaj nowego czytelnika</h2>
    <form action="/reader-add" method="POST">
        <label for="firstName">Imię:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Wprowadź imię" required>
        <span id="errorFirstName" class="errors-text"></span>

        <label for="lastName">Nazwisko:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Wprowadź nazwisko" required>
        <span id="errorLastName" class="errors-text"></span>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" placeholder="Wprowadź adres e-mail" required>
        <span id="errorEmail" class="errors-text"></span>

        <label for="phone">Telefon:</label>
        <input type="tel" id="phone" name="phone" placeholder="Wprowadź numer telefonu" pattern="[0-9]{9}" required>
        <span id="errorPhone" class="errors-text"></span>
        <p id="errorSummary" class="errors-text"></p><br>
        <button type="submit" class="submit-button">Dodaj Czytelnika</button>
        <a href="/readers" class="cancel-button">Anuluj</a>
    </form>
</main>
<%- include('../../partials/footer.ejs') %>
